@import "tailwindcss";
@import "./theme.css";

html, body, #app {
    height: 100%;
    position: relative;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 250ms ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

@layer components {
    .lucide {
        @apply size-4;
    }

    .sidebar-divider {
        @apply flex items-center gap-2 mb-6 text-sm;

        &::after {
            @apply content-[""] border-b grow;
        }
    }
}