html, body {
    background: #222324;
    color: #eee;
    position: relative;
}

body {
    padding: 1rem;
}

pre {
    padding: 0.5rem;
    border: 2px solid #999;
}

button {
    margin-right: 1rem;
}