a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;

    &:hover {
        color: var(--color-base-content);
    }

    &:active, &:focus {
        outline: 1px dotted;
    }
}

button:focus {
    outline: 1px dotted;
}

a img {
    border: 0;
}

a:focus img {
    outline: 1px dotted;
}

h1, h2, h3, h4, h5, h6, .heading {
    font-family: var(--font-serif);
    font-weight: 400;
    word-wrap: break-word;
}

h1 {
    font-size: 2.5em;
    line-height: 1;
    margin: density(4, 0);
}

h2 {
    font-size: 2em;
    line-height: 1;
    margin: density(4, 0);
    display: inline;
}

h3 {
    font-size: 1.25em;
    line-height: 1;
    margin: density(4, 0);
}

h4 {
    font-size: 1.125em;
    line-height: 1.125;
    margin: density(4, 0);
}

h5 {
    font-size: 1em;
    line-height: 1.286;
    margin: density(4, 0);
}

h6 {
    font-size: 0.875em;
    font-weight: 900;
    line-height: 1.5;
    margin: density(12, 0);
}

p, li, dd, hr {
    margin: density(6, 0);
}

hr {
    border: 0;
    border-bottom: 3px double;
}

.clear {
    clear: both;
    height: 0;
    border: 0;
    margin: 0;
    background: transparent;
    opacity: 0;
}

blockquote, pre {
    font-size: 1em;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif;
    margin: density(6);
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

kbd, tt, code, var, pre, samp {
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 0.875em;
    font-family: var(--font-mono);
    margin: auto;
}

pre {
    white-space: pre-wrap;
}

strong, b {
    font-weight: bold;
}

em, cite, i {
    font-style: oblique;
}

cite em, em cite, cite i, i cite, i em, em i, em em, i i, cite cite {
    font-style: normal;
}

em cite, i cite, ins, u {
    text-decoration: underline;
}

del, strike {
    text-decoration: line-through;
}

dfn, abbr, acronym {
    cursor: help;
}

big {
    font-size: 114%;
}

small, sub, sup {
    font-size: 87.5%;
}

small small small small {
    font-size: 100%;
}

sub {
    vertical-align: sub;
    line-height: 0;
}

sup {
    vertical-align: super;
    line-height: 0;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    clear: right;
}

caption {
    height: 0;
    width: 0;
    font-size: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

thead, tfoot {
    border-bottom: 2px solid var(--color-base-content);
    padding: density(5);
    vertical-align: top;
}

tfoot td {
    border-top: 1px solid var(--color-base-content);
}

td th {
    padding-right: density(8);
}

tbody tr, thead td {
    border-bottom: 1px solid var(--color-base-content);
}

td {
    padding: density(2);
    vertical-align: top;
}

th {
    text-align: start;
}

th, tr:hover, col.name {
    border: 1px solid var(--color-base-content);
    padding: density(2, 4, 2);
    vertical-align: top;
}

th a, th a:link {
    text-decoration: none;
}

tbody tr th {
    text-align: start;
}