/* site header */
#header {
    font-size: 0.875em;
    font-weight: 500;
    margin-bottom: density(8);
    position: relative;

    /* icon and brand name */
    .heading {
        padding: density(3, 3, 3, 16);
        float: left;

        /* site logo */
        .logo {
            float: left;
            height: 42px;
        }

        /* site title */
        a {
            color: var(--color-secondary);
            font-size: 1.75em;
            line-height: 1.75em;
        }

        /* title superscript */
        sup {
            font-size: 0.5em;
            font-style: italic;
        }
    }

    /* invisible landmark */
    .landmark {
        clear: none;
        font-size: 0;
    }

    /* navigation bar */
    .primary {
        background: var(--color-primary);
        padding: density(0, 16);
        width: 100%;

        a {
            padding: density(4, 6);
        }

        .dropdown-toggle {
            color: var(--color-primary-content);
        }
    }

    /* dropdown titles */
    .dropdown {
        float: left;
        position: relative;
    }

    /* dropdown list */
    .menu {
        background: var(--color-base-300);
        border: 1px solid alpha(var(--color-base-content), 10%);
        border-top: none;
        border-radius: round(0, 0, 4, 4);
        display: none;
        position: absolute;
        width: 20em;
        z-index: 55;

        /* list item */
        li {
            text-align: left;

            a {
                border-bottom: 1px solid var(--color-neutral);
                display: block;

                &:hover, &:focus {
                    background: alpha(var(--color-base-content), 10%);
                }
            }

            &:last-child a {
                border-radius: round(0, 0, 4, 4);
                border-bottom: none;
            }
        }
    }

    /* display dropdown when opened */
    .open .menu, .dropdown:hover .menu {
        display: block;
        float: none;
    }

    /* search form */
    .search {
        float: right;

        /* search input */
        #site_search {
            color: var(--color-base-200);
            background: var(--color-base-content);
            border: none;
            outline-offset: 0;
            margin: density(1.5, 4);
            padding: density(2);
        }

        /* search button */
        .button {
            color: var(--color-base-200);
            background: var(--color-base-content);
            border: none;
            margin: 0;
            padding: density(2, 4);
        }
    }

    input, #search > *, #search .submit {
        display: inline;
        float: none;
    }

    a, fieldset, form, p, li, h1 {
        background: transparent;
        font-size: 100%;
        border: none;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }

    .actions a:hover, .actions a:focus, .dropdown:hover a, .open a {
        background: var(--color-base-300);
        color: var(--color-base-content);
    }

    .user {
        padding: density(6, 6, 0);
        position: relative;
        z-index: 20;
    }

    #login {
        float: right;
        margin-right: 0.375em;
    }
}

#greeting {
    padding: density(3, 16, 3, 3);
    float: right;

    p.icon {
        float: right;
        height: auto;
        width: auto;
        padding-top: density(4);
    }

    img.icon {
        height: 25px;
        width: 25px;
        background-size: 100%;
    }

    .menu {
        right: 0;
    }

    .dropdown .menu a {
        border-radius: 0;
    }

    /* square off bottom corners when the dropdown is visible */
    .open a, .dropdown:hover a {
        border-radius: round(2, 2, 0, 0);
    }

    .user {
        padding: density(4, 0, 0);
        position: relative;
        z-index: 20;

        & > li {
            margin: density(0, 2);
        }

        a {
            padding: density(3, 6);

            &:hover, &:focus {
                color: var(--color-secondary);

                &[rel=nofollow] {
                    color: var(--color-error);
                }
            }
        }
    }
}

#small_login {
    display: none;
    position: absolute;
    width: 20em;
    background: var(--color-base-300);
    border: 1px solid var(--color-base-content);
    border-radius: round(2);
    padding: density(4, 8);
    right: 0;
    z-index: 10;

    form {
        margin-top: density(5);
    }

    dt, dd {
        margin: 0;
        width: 99%;
    }

    dt, .submit {
        border-bottom: none;
        padding: density(3, 0, 0);
    }

    .actions {
        float: none;
        text-align: left;
    }

    .action {
        padding: density(2, 6);
    }

    .footnote {
        float: left;
        font-size: 0.875em;
        padding: density(3, 0);

        li {
            padding: density(0, 2);
        }
    }
}