/*
 MAIN
 http://otwcode.github.com/docs/front_end_coding/patterns/supertypes
*/

#main {
    font-size: 0.875em;
    line-height: 1.25;
    margin: auto;
    padding: density(4, 20, 28);
    position: relative;
    min-height: 450px;

    &::after {
        content: ' ';
        display: block;
        height: 0;
        font-size: 0;
        clear: both;
        visibility: hidden;
    }

    &.dashboard {
        padding-left: density(16);
        margin: density(4, auto, 8) 14em;
    }

    &.home {
        padding: density(16, 60, 28);
    }

    &.errors {
        background: url("/images/ao3_logos/sadface.png") top right no-repeat;

        h2 {
            display: block;
            margin-top: 0;
        }

        p, .heading {
            margin-right: 325px;
        }
    }

    &.error-502 {
        background: url("/images/ao3_logos/ao3-502.png") top right no-repeat;
    }

    &.error-503-maintenance {
        background: url("/images/ao3_logos/logo-ruby.png") top right no-repeat;
    }

    &.session {
        background: url("/images/logo.png") 0.5em 3em no-repeat;
    }
}