.actions * {
    display: inline;
}

.actions > * {
    list-style: none;
    display: inline;
    padding-left: density(2);
}

ul.actions, p.actions, li.actions, span.actions, fieldset.actions, dd.actions {
    padding: 0.5em 0.25em 0.25em 0;
    float: right;
    text-align: center;
}

ul.actions {
    padding-bottom: 0;
    padding-top: 0;
}

.actions a, .actions a:link, .action, .action:link, .actions button, .actions input, input[type="submit"], button, .current, .actions label, a#login-dropdown {
    color: var(--color-base-content);
    width: auto;
    font-size: 100%;
    line-height: 1.25;
    vertical-align: middle;
    display: inline-block;
    padding: 0.25em 0.75em;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    text-decoration: none;
    border: 1px solid var(--color-secondary);
    background: transparent;
    border-radius: round(2);
}

label.action {
    padding: 0.15em 0.375em;
}

input[type="submit"] {
    white-space: normal;
}

p.submit, input.submit, dd.submit {
    text-align: right;
}

.actions input[type="checkbox"] {
    background: transparent;
    border: none;
    padding: 0;
}

.actions li select, .actions li label input[type="checkbox"] {
    margin: 0;
}

ol.pagination, div.pagination, ol.year {
    text-align: center;
    clear: right;
    margin: density(6, auto);
}

.actions a:hover, .actions button:hover, .actions input:hover, .actions a:focus, .actions button:focus, .actions input:focus, label.action:hover, .action:hover, .action:focus {
    background: alpha(var(--color-base-content), 10%);
}

.actions a:active, .current, a.current, a:link.current, .current a:visited {
    color: var(--color-secondary-content);
    background: var(--color-secondary);
}

.actions label.disabled {
    background: var(--color-base-200);
}

.actions .disabled select {
    background: transparent;
    color: var(--color-neutral);
    border-color: var(--color-base-content);
}

.actions li a, .actions li button, .actions li input, .actions li input[type="submit"], .actions li .current, .actions li label {
    margin: density(3, auto);
}

span.delete {
    border: 0;

    a {
        border: 0;
        padding: density(0, 4);
        color: var(--color-error);
        font-weight: 900;
    }
}

ul#skiplinks, .landmark, .landmark a, .index .heading.landmark {
    font-size: 0;
    line-height: 0;
    height: 0;
    margin: 0;
    clear: both;
    color: transparent;
    opacity: 0;
}

h2.landmark {
    display: block;
}

.secondary {
    background: var(--color-base-200);
    position: absolute;
    z-index: 99;
    border: 1px solid var(--color-base-content);
    margin: auto;
    padding: 0 0.375em;
    overflow: hidden;
    right: 2.5em;
    border-radius: round(1);
}

legend .action:link {
    position: static;
}

.heading .actions, .heading .action, .heading span.actions {
    height: auto;
    line-height: 1.286;
    font-weight: 100;
    font-size: 75%;
    font-family: var(--font-sans);
    padding: 0.15em 0.375em;
}

th .actions, td .actions {
    float: none;
}

dl.stats + .landmark + .actions, .mystery .summary + .landmark + .actions {
    clear: none;
    float: left;
    margin: 0 auto;
}

.actions .secondary .submit, .nomination .actions {
    float: none;
}

.chapter .secondary, .download .secondary {
    top: 3.5em;
}

.dashboard .landmark {
    clear: right;
}

.actions .landmark {
    clear: none;
}

.actions a.symbol, .action a {
    border: 0;
    background: none;
    padding: 0 0 0.15em 0;
}

.many p.actions {
    float: none;
    text-align: right;
}

.concise label.action {
    float: left;
}

dd.any label.action {
    margin-left: density(4);
}

dl.index p.actions {
    margin: 0;
}