/*==GROUP: LISTBOX 
http://otwcode.github.com/docs/front_end_coding/patterns/listbox
*/

.listbox, fieldset fieldset.listbox {
    clear: right;
    border-radius: round(4);
    padding: 0;
    margin: density(12, auto);
    overflow: hidden;
}

.listbox {
    & > .heading {
        display: block;
        margin: 0;
        padding: density(2, 4);
        background: var(--color-primary);
        color: var(--color-primary-content);
        font-family: revert;
    }

    .index {
        width: auto;
        padding: density(6);
        margin: 0;
        float: none;
        clear: right;
        background: var(--color-base-300);

        &::after {
            content: " ";
            display: block;
            height: 0;
            font-size: 0;
            clear: both;
            visibility: hidden;
        }
    }

    /*INTERACTION context (show many/more/lots)*/

    .options {
        overflow: auto;
    }

    .all {
        height: auto;
    }

    .many {
        max-height: 12em;
    }
}

.listbox li.blurb, .listbox .landmark.heading, .listbox .tags .listbox, .listbox .lots li, .listbox .all li {
    display: block;
}

.commas li.listbox:after {
    content: none;
}

/* mods: alphabet, medium */

.alphabet .listbox li, .media .listbox {
    width: 45%;
    float: left;
    clear: none;
    margin-right: density(12);
}

/*Contexts */

.review .listbox {
    overflow: visible;
    position: static;
}