/*
 PREFACE
 blockquote contents (the user-written notes) are styled in userstuff.css like all other user content
 .preface appears within #workskin on a work page
*/

div.preface {
    margin: density(12, 24);
    padding: density(5, 5, 0);
    float: none;

    .module {
        float: none;
        margin: 0;
        padding: density(0, 0, 5);
        width: auto;
    }

    .title, .byline, .byline a {
        border: 0;
        text-align: center;
    }

    .notes, .summary, .series, .children {
        min-height: 5em;
    }

    .series ul, .children ul {
        padding: density(0, 5);
    }

    .associations {
        margin-bottom: density(6);
    }

    .jump {
        margin-top: density(6);
    }
}

.chapter .preface {
    border-top: 1px solid;
}

.preface {
    h3 {
        background: transparent;
        border-bottom: 1px solid;
    }

    h2.title {
        display: block;
        border-bottom: 0;
        clear: right;
    }

    blockquote {
        border: 0;
    }
}

div.afterword {
    margin-bottom: density(20);

    .series h3, .children h3 {
        border-bottom: none;
    }
}