/* style reset */
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: var(--color-base-200);
    color: var(--color-base-content);
    font-family: var(--font-sans);
    font-size: 100%;
    line-height: 1.125;
}

#footer, #main, #dashboard {
    padding: density(8, 24);
}

.landmark {
    font-size: 0;
    opacity: 0;
}

.hidden {
    display: none;
}

li.blurb, fieldset, form dl {
    border-radius: round(4);
    padding: density(8);
    overflow: hidden;
}