#footer {
    background: var(--color-primary);
    color: var(--color-primary-content);
    border-top: 2px solid;
    float: left;
    font-size: 0.75em;
    position: relative;
    padding: 0;
    width: 100%;

    ul {
        clear: both;
        margin: density(12, 0);
        padding: density(8) 5%;
        float: left;
        text-align: left;
        width: 90%;
    }

    li {
        position: relative;
        display: block;
    }

    a, button {
        background: transparent;
        border: 0;
        margin: auto;
        padding: 0;
        border-radius: 0;
        color: var(--color-primary-content);
        display: inline;
        border-bottom: 1px solid;
        line-height: 1.5;
        white-space: normal;

        &:focus {
            outline: 1px dotted;
        }
    }

    .module {
        max-width: 20%;
        padding: 0 2%;
    }

    .menu {
        margin: 0;
        padding: 0;
    }

    .heading {
        display: block;
        color: var(--color-primary-content);
    }
}