/*==TYPES OF DATA, GROUPS OF DATA 
http://otwcode.github.com/docs/front_end_coding/patterns/supertypes
*/

a.tag {
    color: var(--color-base-content);
    line-height: 1.5;
    text-decoration: none;
    padding: 0;
    border-bottom: 1px dotted;
}

a.tag:hover, .listbox .heading a.tag:visited:hover {
    background: alpha(var(--color-base-content), 10%);
}

.tags li {
    display: inline;
    padding-left: 0;
    padding-right: 0.25em;
}

.filters .tags li, .review .tags {
    display: block;
}

/*GROUP CLOUD */

ul.cloud {
    margin: density(16, auto);
    text-align: center;
    line-height: 2;
}

ul.cloud a.tag {
    color: var(--color-secondary);
}

a.cloud1 {
    opacity: 0.3;
    font-size: 0.625em;
    font-weight: 100;
}

a.cloud2 {
    opacity: 0.4;
    font-size: 0.75em;
    font-weight: 200;
}

a.cloud3 {
    opacity: 0.5;
    font-size: 0.875em;
    font-weight: 300;
}

a.cloud4 {
    opacity: 0.6;
    font-size: 1em;
    font-weight: 400;
}

a.cloud5 {
    opacity: 0.7;
    font-size: 1.125em;
    font-weight: 500;
}

a.cloud6 {
    opacity: 0.8;
    font-size: 1.5em;
    font-weight: 600;
}

a.cloud7 {
    opacity: 0.9;
    font-size: 1.875em;
    font-weight: 700;
}

a.cloud8 {
    opacity: 1;
    font-size: 2.25em;
    font-weight: 800;
}

/* GROUPS: WRAPPER, MODULE, INDEX  (#outer and #inner .wrapper have no style by default, but wrap the regions on every page for your skins convenience)*/

#outer.wrapper {
    float: left;
    width: 100%;
}

.module, .index, .index .index {
    position: relative;
    width: auto;
}

.module, .dashboard .index {
    float: left;
    width: 100%;
}

/*http://otwcode.github.com/docs/front_end_coding/patterns/pattern-index*/

dl.index {
    margin: density(6, 0);
    border: none;
}

dl.index dt {
    width: auto;
    float: none;
    border: none;
}

dl.index dd {
    width: auto;
    float: none;
    clear: right;
    margin: density(0, 0, 8, 0);
    padding: density(3, 1, 1);
    overflow: visible;
}

dl.index > dd:after {
    content: " ";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

dl.index dd .userstuff p {
    display: block;
}

a.rss span {
    background: url("/images/imageset.png") no-repeat -150px -275px;
    padding-left: 16px;
}

a.work {
    line-height: 1.125;
    font-weight: 100;
    font-size: 1.143em;
    font-family: var(--font-serif);
    margin: density(4, 0);
    color: var(--color-primary);
}

.warning, .warnings, span.byline, a.user {
    font-weight: bold;
}

li.warnings a {
    color: var(--color-warning);
}

li.relationships a {
    color: var(--color-info);
}

li.characters a {
    color: var(--color-success);
}

.actions .reindex a {
    border-bottom: 3px solid var(--color-base-content);
}

.series.footnote {
    font-size: 100%;
    float: none;
}

/* circle dividers for series navigation on works */

span.series .divider {
    color: var(--color-base-content);
}

span.series .previous + .divider:before {
    content: "\0020\25CF";
}

span.series .position + .divider:after {
    content: "\25CF\0020";
}

p.kudos {
    background: url("/images/imageset.png") no-repeat -111px -580px;
    padding: density(2, 2, 2) 60px;
    margin: density(16, 0);
    min-height: 50px;
}

.icon {
    height: 100px;
    width: 100px;
    margin: 0;
}

.icon a {
    border: 0;
}

.mods li, dl.stats dt, dl.stats dd {
    background: none;
    width: auto;
    min-width: 0;
    display: inline;
    clear: none;
    float: none;
    margin: auto;
}

dl.stats {
    text-align: right;
    background: none;
    margin-top: density(6);
}

dl.stats dd {
    white-space: nowrap;
    padding-right: density(4);
}

.statistics .index li {
    padding: density(5, 3);
}

.statistics .index li:nth-of-type(even) {
    background: var(--color-base-300);
}

.concise li {
    width: 45%;
    float: left;
    clear: none;
    margin-right: density(12);
}
