/*
 COMMENTS
 https://archiveofourown.org/works/<id>
*/

/* comment section container */
#feedback {
    margin: 0 0 auto;
}

/* comment container */
.comment {
    background: var(--color-base-300);
    position: relative;
    border-radius: round(4);
    overflow: visible;
    text-align: start;

    /* comment icon container */
    div.icon {
        float: left;
        margin: -1.5625em 0.5625em 0.5625em 0;
    }

    /* all image elements */
    span.icon, img.icon {
        border-top-left-radius: round(4);
    }

    /* placeholder icons for unknown users */
    .icon {
        .anonymous {
            background: url("/images/imageset.png") no-repeat -0px -735px;
            display: block;
        }

        .visitor {
            background: url("/images/imageset.png") no-repeat 0 -635px;
            display: block;
        }
    }

    /* title bar (username, chapter number, date) */
    h4.byline {
        padding: density(2, 4, 2) 108px;
        margin: density(0, auto, -2);
    }

    /* commenter role, like "guest" */
    .role {
        font-weight: bold;
    }

    /* comment body */
    .userstuff {
        margin-bottom: density(8);
        margin-top: density(8);
        min-height: 3.3em;
    }

    /* create comment container */
    fieldset {
        margin: 0;
    }

    /* comment post date */
    .posted {
        float: right;
    }

    /* comment edited date */
    .edited {
        margin: density(10, 6, 2);
    }

    /* TODO: where? */
    .message {
        padding: density(6);
    }

    /* TODO: what? */
    &::after, h4.byline::after {
        content: ' ';
        display: block;
        height: 0;
        font-size: 0;
        clear: both;
        visibility: hidden;
    }
}

/* nested comment replies */
.thread .thread {
    margin-left: 3%;
}

/* TODO: where? */
fieldset.comments {
    background: transparent;
    border: none;
}

/* TODO: where? */
.abbreviated {
    .icon {
        height: 75px;
        width: 75px;

        .anonymous {
            background: url("/images/imageset.png") no-repeat -75px -450px;
        }

        .visitor {
            background: url("/images/imageset.png") no-repeat 0 -450px;
        }
    }

    h4.byline {
        padding-left: 83px;
    }
}