/*
 SEARCH / BROWSE
*/

/* list of filtered works */
.filtered .index {
    width: 75%;
    float: left;
}

/* TODO: where? */
.people-index ol + div.pagination, .index + h4.landmark {
    clear: both;
}

/* TODO: where? */
.media-index .listbox {
    min-height: 17.5em;
}

/* top bar search input */
form.search input[type="text"] {
    padding: 0.15em 0.5em;
    border-radius: round(2);
}

/* tooltip popup */
.search [role="tooltip"] {
    background: var(--color-base-300);
    border: 1px solid var(--color-base-content);
    padding: 0.15em;
    border-radius: round(2);
    position: absolute;
    left: -999em;
    font-size: 0.75em;
    z-index: 1;
}

.search p, li.search form p {
    position: relative;
}


.search input:focus + [role="tooltip"] {
    left: 1em;
    right: 1em;
    top: 2.75em;
}

li.search fieldset {
    margin: auto;
    padding: 0.15em;
    font-size: 87.5%;
    overflow: visible;
    width: auto;
}

.search .tags dd.submit {
    margin: -3em 0.643em 0;
}

/* filter container sidebar */
form.filters {
    width: 23%;
    float: right;

    /* inner container */
    fieldset {
        margin: 1em 0 1em 1em;
    }

    /* category headers, like "include" or "exclude" */
    h4 {
        display: inline;
        font-weight: 700;
    }

    dl, dt {
        padding: 0;
    }

    dt, dd, input[type="submit"], .expander {
        width: 100%;
    }

    input + label {
        padding-left: 0;
    }

    dl dl {
        border: 0;
        margin: 0;
        padding: 0;
        background: none;
    }

    .submit, .group {
        margin: 0;
        padding: 0;
    }

    .submit input {
        height: 100%;
        margin: 1em 0;
        min-height: 1.286em;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        white-space: normal;
    }

    dt.heading {
        margin-top: 1.929em;
    }

    .expander {
        background: url("/images/arrow-right.gif") left center no-repeat;
        border: none;
        height: 100%;
        padding: density(2, 0, 2, 8);
        text-align: left;
        white-space: normal;
        border-radius: 0;

        &:focus {
            outline: 1px dotted;
        }
    }

    .warning {
        font-weight: normal;
    }
}

.filters .expanded .expander {
    background-image: url("/images/arrow-down.gif");
}

.filters .expandable, .filters .group dd.autocomplete {
    margin: 0;
}

.filters .group dt.search, .filters .range dt {
    border-bottom: none;
    padding: density(2, 0);
}

.filters .group dt.bookmarker {
    border-top: 1px solid var(--color-base-content);
    margin-top: density(5);
    padding-top: density(5);
}

.filters .more dd.search, .filters .more dt.search, .filters .range dd {
    margin-top: 0;
}

.filters .collapsed:after, .filters .expanded:after {
    content: none;
}

.filters .sort + .heading {
    margin-top: density(10);
}

.filters [type="checkbox"], .filters [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    left: auto; /* fix for VoiceOver outline position in iOS 10.3.1 */
}

/* filters form */
.filters {
    /* indicator checkbox */
    .indicator::before {
        /*color: var(--background);
        background: var(--foreground-light);*/
        border: 1px solid var(--color-base-content);
        display: inline-block;
        margin-right: density(4);
        text-align: center;
    }

    input:focus + .indicator + span {
        outline: 1px dotted;
    }

    /* label when checked */
    input:checked + .indicator + span {
        color: var(--color-secondary);
    }

    [type="checkbox"] + .indicator::before {
        content: " \2713";
        padding: density(0, 2);
        border-radius: round(2);
    }

    [type="checkbox"]:checked + .indicator::before {
        color: var(--color-success);
    }

    [type="radio"] + .indicator:before {
        content: '';
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
        border-radius: round(8);
    }

    [type="radio"]:checked + .indicator:before {
        background: var(--color-success);
    }

    .exclude {
        [type="checkbox"] + .indicator:before {
            content: " \2715";
        }

        [type="checkbox"]:checked + .indicator:before {
            color: var(--color-error);
        }
    }
}