/* ==SYSTEM MESSAGES
System messages use the following colours:
* notice => blue: success, messages, additional information, no action needed, can proceed
* caution => yellow: user may wish to change their mind, action optional, can proceed
* error => red: mistake, go back and fix this problem, action needed before you can proceed
*/

.important {
    font-weight: 900;
}

/* We don't generally chain class selectors, but Devise's non-customizable alert class conflicts with ours, making it necessary here */
.required, .error, .alert.flash {
    color: var(--color-error);
}

.footnote {
    font-size: 0.75em;
    float: right;
}

.datetime {
    font-family: var(--font-mono);
    font-size: 0.75em;
}

div.error {
    margin: 0.643em auto;
    padding: density(2, 3);
    border-radius: round(2);
}

.notice, .comment_notice, .kudos_notice, ul.notes, .caution, .error, .comment_error, .kudos_error, .alert.flash {
    background: var(--color-info);
    color: var(--color-info-content);
    margin: 0.643em auto;
    padding: density(2, 3);
    clear: right;
    border-radius: round(2);
    word-wrap: break-word;
}

.caution {
    background: var(--color-warning);
    color: var(--color-warning-content);
}

.error, .comment_error, .kudos_error, .alert.flash {
    background: var(--color-error);
    color: var(--color-error-content);
}

p.notes {
    clear: right;
}

.notice p {
    margin: 0;
    padding: density(5);
}

.notice a {
    color: unset;
}

ul.notes, .error ul, .notice ul, .caution ul, .alert.flash ul {
    position: static;
    margin: density(auto, 5);
    padding: density(2, 20);
}

ul.notes li, .error ul li, .notice ul li, .caution ul li, .alert.flash ul li {
    list-style-type: disc;
    padding-left: density(12);
}

dt span.error, dd span.error {
    display: block;
}

dd.complex span.error {
    display: inline-block;
}

/* contexts */

.actions + .footnote {
    clear: both;
}

/* ADMIN ANNOUNCEMENT BANNERS
Set by an admin, these banners appear on every page until the user dismisses them or the admin deletes it
default (no additional class) => blue like other notice messages
event => red gradient with white text for fundraising, celebrations, other happy Org events
alert => yellow-orange to alert users of problems or planned downtime
*/

.announcement {
    clear: both;
    position: relative;

    .userstuff {
        background: var(--color-base-300);
        margin: density(0, 16);
        padding: density(3, 6);
        text-align: left;

        p {
            margin: density(3, auto);
        }
    }
}

.announcement p.submit {
    bottom: -0.25em;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1em;
}

.announcement input[type="submit"], .announcement .action {
    background: var(--color-secondary);
    border: 1px solid var(--color-base-content);
    font-size: 0.875em;
    padding: density(2, 4);
    border-radius: round(16);
}

.announcement h1, .announcement h2, .announcement h3, .announcement h4, .announcement h5, .announcement h6 {
    border: none;
    color: inherit;
    margin: 0;
    text-align: center;
    text-shadow: none;
}

.event .userstuff {
    background: var(--color-base-300);
    border-color: var(--color-base-content);
    color: var(--color-base-content);

    a {
        color: var(--color-base-content);
    }
}

.alert .userstuff {
    background: var(--color-base-300);
    border-color: var(--color-base-content);
    color: var(--color-base-content);
}

/* thermometer JavaScript widget for fundraising drives
progress indicator colors are set in application.js */

.announcement .thermometer-content {
    height: 2.6em;
    margin: auto;
    width: 50%;
}

.announcement .thermometer {
    position: relative;

    .track {
        border: 1px solid var(--color-base-content);
        height: 1.25em;
        margin: 0 auto;
        position: relative;
        background: var(--color-base-300);
    }

    .progress {
        bottom: 0;
        left: 0;
        height: 100%;
        position: absolute;

        .amount {
            top: 1.35em;
            right: 0;
        }
    }

    .goal {
        position: absolute;
        right: 0;

        .amount {
            left: 0;
            padding-left: 0.25em;
            top: 0;
        }
    }

    .amount {
        font-weight: 700;
        line-height: 1.25em;
        position: absolute;
    }
}

span.symbol {
    color: var(--color-info);
    font-family: var(--font-serif);
    border: 1px solid;
    border-radius: round(6);
    font-size: 0.9em;

    span {
        padding: 0.425em;
    }
}

.symbols a, .symbol a {
    text-decoration: none;
    border: none;
}

.question a:hover {
    cursor: help;
}

span.question {
    border-color: var(--color-info);
}

a.question {
    border: 0;
    font-weight: bold;
}

.heading a.question {
    font-size: 0.75em;
}

dl#symbols-key dt {
    width: 100px;
}

dl#symbols-key dd {
    margin: -55px auto auto 100px;
}

#symbols-key dl {
    border: 1px solid var(--color-base-content);
    margin-bottom: 1.286em;
    padding: 0.15em;
}

#symbols-key dl dt img, #bookmark-symbols-key dt img, #symbols-key dl dt, #bookmark-symbols-key dt {
    height: 25px;
    width: 25px;
}

#symbols-key dl dd, #bookmark-symbols-key dd {
    margin: -25px auto 20px 35px;
}