/*
  Extra features that are not for everyone.
  These may destructively alter the appearance of the page.
*/

/* 
  Hide delete account button. For the paranoid.
  If you insist on deleting your account, disable the site skin first.
*/
.user.home.profile .actions a[rel=nofollow] {
    display: none;
}

/*
  Hide unsubscribe buttons in subscriptions page.
  You can still use the unsubscribe button after clicking the link.
*/
dl.subscription {
    /* increase space between links */
    dt {
        margin-bottom: density(6);
    }

    /* hide button */
    dd {
        display: none;
    }
}

/*
  Hide RSS feed button.
*/
li:has(> .rss) {
    display: none;
}

/*
  Force footer to bottom.
*/
#outer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    #inner {
        flex-grow: 1;
    }
}

/*
  Username decoration.
*/
.dashboard .home .header h2 {
    font-family: revert;
    color: var(--color-base-content);

    &::before, &::after {
        content: "✨";
    }
}

/*
  Hide notice that you have muted users.
*/
p.muted.notice {
    display: none;
}