/* dashboard navigation */
#dashboard {
    width: 12.5em;
    padding: density(4);
    border-color: var(--color-primary);
    border-style: solid;
    float: left;

    li {
        padding: 0;
    }

    a, span {
        color: var(--color-base-content);
        display: block;
        white-space: normal;
        height: auto;
        line-height: 2;
        padding: density(0, 4);
        margin: 0;
        border: none;
        background: transparent;
        vertical-align: middle;
        word-wrap: break-word;
    }

    a:hover {
        background: alpha(var(--color-base-content), 10%);
    }

    ul {
        float: none;
        display: block;
        padding: density(8, 0);
        text-align: right;
        border-top: 1px solid var(--color-base-content);
        position: relative;

        &:first-of-type {
            border-top: none;
        }
    }

    .current {
        color: var(--color-secondary-content);
        background: var(--color-secondary);
    }

    .secondary {
        right: auto;
    }
}