/*==ROLES AND STATES
http://otwcode.github.com/docs/front_end_coding/patterns/modifiers
*/

.draft {
    border: 2px dashed var(--color-base-content);
    padding: 0.75em;
    border-radius: round(4);
}

#previewpane {
    margin-top: density(4);
}

/*(these states spoof the ".navigation .current" style)*/

span.unread, .replied, span.claimed, .actions span.defaulted {
    color: var(--color-base-content);
    width: auto;
    line-height: 1.25;
    vertical-align: middle;
    display: inline-block;
    padding: 0.25em 0.75em;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    border: 1px solid var(--color-secondary);
    border-radius: round(2);
}

.actions span.defaulted {
    color: var(--color-base-content);
}

.canonical, li.requested {
    font-weight: 700;
}

body .hidden, .actions .hidden, .actions a.hidden, #dashboard .hidden {
    display: none;
}

.draggable, .droppable, span.requested, .nominations .rejected {
    color: var(--color-primary);
}

span.offered, .replied, .nominations .approved {
    color: var(--color-base-content);
}

.nominations {
    .approved {
        background: var(--color-success);
    }

    .rejected {
        background: var(--color-error);
    }
}

span.offered.requested {
    color: var(--color-base-content);
}

/* Arrows for the accordion widget */

.collapsed::after {
    content: " \2193";
}

.expanded::after {
    content: " \2191";
}

/*This is a helper for Back End and can be overridden contextually anywhere*/

.commas li {
    display: inline;

    &::after {
        content: ", ";
    }

    &:last-child::after, &:only-child::after {
        content: none;
    }
}

/* CONTEXTS */

.dashboard .own {
    opacity: 1;
}

.comment span.unreviewed {
    background: transparent;
    opacity: 1;
}