/*
 USERSTUFF
 displaying content inputted by a user into a textarea
*/

.userstuff {
    word-wrap: break-word;
    line-height: 1.5;

    p, details {
        margin: density(10, auto);
        padding: 0;
    }

    dl {
        margin: density(12, 0);
        border: 0;

        dl {
            width: 90%;
            margin: auto;
        }
    }

    dt {
        display: block;
        font-weight: bold;
    }

    dd {
        display: block;
        margin-block-start: density(10);
        margin-block-end: density(10);
        margin-inline-start: density(24);

        p {
            margin: 0;
            padding: 0;
        }
    }


    ul {
        margin: density(9, auto);
        padding: density(0, 8);

        li {
            display: list-item;
        }
    }

    li, ol ul li {
        font-weight: normal;
        display: list-item;
        list-style-type: disc;
        margin-block-start: density(6);
        margin-inline-end: 0;
        margin-block-end: density(6);
        margin-inline-start: density(14);
    }

    ol {
        margin: density(6, auto);
        padding: density(0, 12);

        li {
            list-style-type: decimal;
            margin-block-start: density(6);
            margin-inline-end: 0;
            margin-block-end: density(6);
            margin-inline-start: density(14);

            ol li {
                list-style-type: lower-alpha;

                ol li {
                    list-style-type: lower-roman;
                }
            }
        }
    }

    h1 {
        text-align: center;
    }

    h2 {
        color: var(--color-base-content);
        margin: density(12, 0);
        display: block;
    }

    h3 {
        font-weight: 500;
        padding: density(1);
        border-bottom: 0.25em double var(--color-base-content);
    }

    h4 {
        font-weight: 700;
    }

    h5 {
        font-weight: 600;
        font-size: 1em;
    }

    h6 {
        font-size: 0.975em;
        border-bottom: 1px solid;
    }

    h3 a, h3 a:link, h3 a:visited {
        font-weight: 500;
        border-bottom: 0;
        text-decoration: none;
    }

    caption {
        font-size: 1em;
        height: auto;
        width: auto;
        opacity: 1;
    }

    table, td, col, tr, thead, tfoot, tbody, th, thead td, th a, th a:link {
        background: transparent;
        border: none;
    }

    blockquote {
        line-height: 1.5;
        margin-inline-start: density(12);
        padding: density(6);
        border-inline-start: 2px solid var(--color-base-content);

        blockquote {
            padding: density(2);
            border: 0;
        }
    }

    hr {
        width: 33%;
        margin: density(7, auto, 10, auto);
        border: 1px solid;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    video {
        max-width: 100%;
    }
}

#workskin {
    font-size: 1.08em;
    margin: auto;
    padding: density(0, 2);
    max-width: 72em;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;

    .module {
        float: none;
    }
}

/* contexts */
.bookmark .user .userstuff {
    line-height: 1.5;

    blockquote {
        margin-bottom: density(10);
    }
}

.faq .userstuff {
    dd {
        margin-block-start: density(6);
        margin-block-end: density(6);
        margin-inline-start: density(14);
    }

    dl {
        margin: density(6, 0);
    }
}