/* MEDIA: only screen and (max-width: 62em), handheld */

/* 04 region dashboard */

#dashboard {
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-radius: round(2);
    padding: density(4, 0);
    clear: both;
    float: none;
    margin: 1% 3.5%;
    max-width: 100%;
    width: auto;

    ul {
        padding: density(2, 0);
        text-align: left;
    }

    li {
        display: inline;
    }

    a, span {
        display: inline-block;
        margin: density(2, 0);
    }

    .secondary {
        background: var(--color-base-300);
        padding: density(3, 0, 5);

        a {
            margin: 0.125em 0;
        }
    }

    .landmark {
        clear: none;
        float: left;
    }
}

/* 05 region main */

#main, #main.dashboard {
    float: none;
    margin: auto;
    padding-left: 3.5%;
    padding-right: 3.5%;
    width: auto;
}

/* 07 interactions */

form.single input[type="text"] {
    width: 100%;
}

form.single input[type="submit"] {
    margin-top: 0.375em;
}

form.single span.submit {
    display: block;
    text-align: right;
}

form.single ul.autocomplete {
    display: block;
}

form.single .autocomplete li.input {
    margin-right: 0;
}

/* 16 zone system */

.logged-in .splash > .module {
    width: 48.5%
}

.logged-in .splash > div:nth-of-type(odd) {
    margin-left: 0;
    margin-right: 1.5%;
}

.logged-in .splash > div:nth-of-type(even) {
    margin-left: 1.5%;
    margin-right: 0;
}

/* 18 zone searchbrowse */

form.filters {
    width: auto;
    min-width: 23%;
    max-width: 24%;
}

.filters fieldset {
    margin-right: 0;
}

form.filters dl {
    margin-left: density(2);
    margin-right: density(2);
}

/* 21 userstuff */

#workskin {
    margin: auto 1.5%;
}
